* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #1d1d1d;
  padding: 1rem;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.image-upload {
  display: inline-block;
  position: relative;
  color: #1d1d1d;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

.image-upload img {
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
}

#image-input {
  display: none;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 2rem;
}

.select-container > label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.select-container select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  font-size: 1rem;
  appearance: none; 
}

.select-container select::-ms-expand {
  display: none;
}

.select-container select:focus {
  outline: none;
  border-color: #686868;
}

.select-container select option {
  padding: 0.5rem;
}

button {
  margin: 2rem;
  padding: 0.5rem 1rem ;
  background-color: #1d1d1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #686868;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(94, 94, 94);
}
