* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#image {
  width: 100%;
  max-width: 500px;
}

#annotated-image {
  display: none;
}