<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Captcha Solver</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <h1>SOLVE CAPTCHA</h1>
  <div class="image-upload" id="image-upload" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
    <label for="image-input">
      <img id="preview" src="{{ url_for('static', filename='images/upload.svg') }}" alt="Upload" />
      <p>Drag & Drop or Click to Upload</p>
    </label>
    <input type="file" accept="image/*" id="image-input" />
  </div>
  <div class="select-container">
    <label for="target-select">Select Target:</label>
    <select id="target-select">
      {% for value in target_options.values() %}
      <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
    </select>
  </div>
  <button onclick="processImage()">Solve Captcha</button>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>